NODE_RED.json
[{"id":"59fdedd4.371014","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"59fdedd4.371014","name":"","active":true,"console":"false","complete":"false","x":310,"y":40,"wires":[]},{"id":"68915d72.315484","type":"ui_form","z":"59fdedd4.371014","name":"","label":"","group":"ac13188f.23c218","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email ID","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":110,"y":120,"wires":[["f2f2649a.0d0d98","d025e2df.cd72c"]]},{"id":"8284eefd.354cf","type":"ui_form","z":"59fdedd4.371014","name":"","label":"","group":"47e6f14d.1b218","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["67df3ffa.f1dba"]]},{"id":"d025e2df.cd72c","type":"function","z":"59fdedd4.371014","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["b7597ce5.e8037"]]},{"id":"6610ce82.f21f6","type":"function","z":"59fdedd4.371014","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["2fdde028.6b092"]]},{"id":"2fdde028.6b092","type":"function","z":"59fdedd4.371014","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["811dd88d.91d708"]]},{"id":"67df3ffa.f1dba","type":"function","z":"59fdedd4.371014","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":340,"wires":[["e83d3429.463648"]]},{"id":"811dd88d.91d708","type":"cloudant in","z":"59fdedd4.371014","name":"","cloudant":"","database":"mycloud","service":"node-red-qfhgo-2020--cloudant-1597496759366-23546","search":"_idx_","design":"user","index":"user","x":600,"y":220,"wires":[["c3c41d8d.37446"]]},{"id":"b7597ce5.e8037","type":"cloudant out","z":"59fdedd4.371014","name":"cloudant","cloudant":"","database":"mycloud","service":"node-red-qfhgo-2020--cloudant-1597496759366-23546","payonly":true,"operation":"insert","x":490,"y":120,"wires":[]},{"id":"c3c41d8d.37446","type":"function","z":"59fdedd4.371014","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":220,"wires":[[]]},{"id":"e83d3429.463648","type":"watson-conversation-v1","z":"59fdedd4.371014","name":"","workspaceid":"a2f9c97b-00c9-4593-ac48-e12f23e2c85b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d1e7fe35-a63a-40c4-a97a-ae49fa367677","timeout":"","optout-learning":false,"x":400,"y":340,"wires":[["bb84e8b5.252028","fd78909d.3ce1c"]]},{"id":"4781239c.84edec","type":"ui_form","z":"59fdedd4.371014","name":"","label":"","group":"2e919938.3c82f6","order":0,"width":0,"height":0,"options":[{"label":"Enter Email ID","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":220,"wires":[["6610ce82.f21f6"]]},{"id":"bb84e8b5.252028","type":"debug","z":"59fdedd4.371014","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":300,"wires":[]},{"id":"fd78909d.3ce1c","type":"function","z":"59fdedd4.371014","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["dd9f34c3.574ba8","e002d709.a4f5f8"]]},{"id":"dd9f34c3.574ba8","type":"ui_text","z":"59fdedd4.371014","group":"47e6f14d.1b218","order":1,"width":"6","height":"6","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"col-center","x":740,"y":380,"wires":[]},{"id":"e002d709.a4f5f8","type":"ui_audio","z":"59fdedd4.371014","name":"","group":"47e6f14d.1b218","voice":"en-US","always":"","x":730,"y":460,"wires":[]},{"id":"ac13188f.23c218","type":"ui_group","z":"","name":"Registration Form","tab":"472d76f7.e21228","order":1,"disp":true,"width":"6","collapse":false},{"id":"47e6f14d.1b218","type":"ui_group","z":"","name":"Bot","tab":"5e30b15f.a5418","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e919938.3c82f6","type":"ui_group","z":"","name":"Login Form","tab":"299acc28.cfe4f4","order":2,"disp":true,"width":"6","collapse":false},{"id":"472d76f7.e21228","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e30b15f.a5418","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"299acc28.cfe4f4","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false}]